/* 
    Document   : my-css
    Created on : 04 Sep 14, 17:04:17
    Author     : Frenky
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.input-datepicker {
    position: relative; z-index:100;
}

.center-text{
    text-align: center;
}