
@{
    ViewBag.Title = "Top10Referals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
        </div>
        <h5 class="panel-title">
            @Klinik.Resources.UIMessages.Top10ReferalReport
        </h5>
    </header>
    <div class="panel-body">

    </div>
</section>


