
@{
    Layout = null;
}


<html>
<head>
    <style>
        body {
            background: url(/content/images/background2.jpg);
            background-color: 58169a;
        }


        span.start {
            color: white;
            font-size: 2em;
        }

        .credits {
            color: white;
            text-align: right;
            text-decoration: none;
            font-weight: bold;
        }


        .metro-surface {
            padding: 40px 0px 0px 0px;
            width: 520px;
            margin: auto;
        }


        .metro-tile {
            background-color: #D8512B;
            border-color: #DC6241;
            width: 232px;
            height: 104px;
            padding: 5px;
            color: #FFF;
            font-family: sans-serif;
            font-size: 12px;
            border-width: 3px;
            border-style: solid;
            cursor: pointer;
            -webkit-transition: 0.1s all;
            -moz-transition: 0.1s all;
            -ms-transition: 0.1s all;
            transition: 0.1s all;
        }


        .metro-tile-small {
            width: 106px;
            height: 104px;
            cursor: pointer;
        }


        div.metro-tile:hover {
            -webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
            -moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
            -ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
            transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
            border-width: 3px;
            border-style: solid;
        }

        .staff {
            background: url(/content/images/hello/staff.png);
            background-color: #99b433;
            border-color: #99b433;
            background-repeat: no-repeat;
        }

        .apoteker {
            background: url(/content/images/hello/apoteker.png);
            background-color: #00a300;
            border-color: #00a300;
            background-repeat: no-repeat;
        }

        .logistik {
            background: url(/content/images/hello/logistik.png);
            background-color: #1e7145;
            border-color: #1e7145;
            background-repeat: no-repeat;
        }

        .kasir {
            background: url(/content/images/hello/kasir.png);
            background-color: #ff0097;
            border-color: #ff0097;
            background-repeat: no-repeat;
        }

        .keuangan {
            background: url(/content/images/hello/keuangan.png);
            background-color: #00aba9;
            border-color: #00aba9;
            background-repeat: no-repeat;
        }

        .hrd {
            background: url(/content/images/hello/hrd.png);
            background-color: #2b5797;
            border-color: #2b5797;
            background-repeat: no-repeat;
        }

        .front_office {
            background: url(/content/images/hello/front_office.png);
            background-color: #ffc40d;
            border-color: #ffc40d;
            background-repeat: no-repeat;
        }

        .radiologi {
            background: url(/content/images/hello/radiologi.png);
            background-color: #ee1111;
            border-color: #ee1111;
            background-repeat: no-repeat;
        }

        .laborat {
            background: url(/content/images/hello/laborat.png);
            background-color: #2d89ef;
            border-color: #2d89ef;
            background-repeat: no-repeat;
        }

        .UGD {
            background: url(/content/images/hello/UGD.png);
            background-color: #da532c;
            border-color: #da532c;
            background-repeat: no-repeat;
        }

        .super_user {
            background: url(/content/images/hello/super_user.png);
            background-color: #1d1d1d;
            border-color: #1d1d1d;
            background-repeat: no-repeat;
        }

        .rawat_inap {
            background: url(/content/images/hello/rawat_inap.png);
            background-color: #da532c;
            border-color: #da532c;
            background-repeat: no-repeat;
        }

        .rekam_medis {
            background: url(/content/images/hello/rekam_medis.png);
            background-color: #ee1111;
            border-color: #ee1111;
            background-repeat: no-repeat;
        }
    </style>
    <script src="/content/js/libs/jquery-1.8.3.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".metro-tile").click(function () {
                window.location = "/site/login/?loginas=" + $(this).attr("data");
            });
        });
    </script>
</head>
<body>
    <div style="text-align: center;margin-top: 40px">
        <!--<img src="/static/images/judul.png" > -->
        <h1>Sistem Informasi Klinik</h1>
    </div>
    <div class="metro-surface">
        <table>
            <tr>
                <td><div class="metro-tile metro-tile-small staff" data="staff">Staff Poli</div></td>
                <td><div class="metro-tile metro-tile-small apoteker" data="apoteker">Apoteker</div></td>
                <td><div class="metro-tile metro-tile-small logistik" data="logistik">Logistik</div></td>

            </tr>
        </table>
        <table>
            <tr>
                <td><div class="metro-tile metro-tile-small hrd" data="hrd">Kepegawaian</div></td>
                <td><div class="metro-tile metro-tile-small front_office" data="front_office">Front Office</div></td>
                <td><div class="metro-tile metro-tile-small kasir" data="kasir">Kasir</div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div class="metro-tile metro-tile-small laborat" data="laborat">Laborat</div></td>
                <td><div class="metro-tile metro-tile-small super_user" data="super_user">Executive</div></td>
                <td><div class="metro-tile metro-tile-small rekam_medis" data="superuser">Super User</div></td>
            </tr>
        </table>
        <table>
            <tr></tr>
        </table>
    </div>
</body>
</html>