
.scrollTable
{
    overflow: auto;
    white-space: nowrap;
}

.scrollTable table {
    width: 150%;
}
.marginbutton{
    margin-bottom:20px
}
.headertable {
    text-align: center !important;
    color: white !important;
    background-color: #34495e !important;
}
